.empl-wrapper
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  align-items: stretch
  .item-empl
    background: #ffffff
    padding: 2em
    width: 15%
    margin: 5px
input[type="submit"]
  background: green
  color: white
